@import "tailwindcss";

@theme {
  --color-primaryBlue: #67D2F5;
  --color-customCyan: #42B7D6;
  --color-darkCyan: #2E8FB0;
  --color-lightGreen: #A5F279;
  --color-darkGreen: #6DCC5B;
  --color-lightText: #BDF4FF;
}